@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat+Alternates:wght@300;500&family=Roboto+Slab:wght@200;700&display=swap");
body {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
}

.header {
  text-align: center;
}
.header__title {
  font-family: "Lobster", cursive;
  font-weight: 200;
  font-size: clamp(3.125rem, 1rem + 4vw, 5rem);
}

.ribbon__container-text {
  font-size: clamp(1.125rem, 0.2rem + 3vw, 2rem);
}

.cards-item-text {
  font-size: clamp(0.69rem, 0.5rem + 1vw, 1rem);
  text-align: center;
}

.total__cards-text {
  font-size: clamp(0.63rem, 0.3rem + 1vw, 0.75rem);
}
.total__cards-score {
  font-size: 1.31rem;
}

.score {
  font-size: clamp(0.625rem, 0.3rem + 1vw, 0.75rem);
  text-align: center;
}

.user,
.computer {
  text-align: center;
}

.score-text {
  font-size: 2.37rem;
}

.draw__btn,
.fight__btn {
  font-family: "Roboto Slab", serif;
  font-size: 1.125rem;
  font-weight: 700;
}

.message__box-text {
  font-size: clamp(1.75rem, 2rem + 1vw, 3.12rem);
}

.user__content-text,
.bot__content-text {
  font-size: clamp(0.75rem, 0.5rem + 5vw, 1rem);
}

.user__content-score,
.bot__content-score {
  font-size: clamp(2.19rem, 1rem + 5vw, 3.44rem);
  line-height: 0.8;
}

.ok__btn {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: clamp(1.56rem, 0.8rem + 4vw, 2.19rem);
}

.message__card-text {
  font-size: clamp(3.125rem, 1rem + 1vw, 4.375rem);
}

.new__game {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: clamp(1.56rem, 0.5rem + 1vw, 2.19rem);
}

.welcome__card {
  font-family: "Montserrat Alternates", sans-serif;
}

.welcome__text {
  font-size: 0.9rem;
  font-weight: 400;
  text-align: center;
  text-align: justify;
}

.welcome__title {
  font-weight: 700;
  font-size: 1.3rem;
  margin: 2rem 0 0.7rem 0;
}

.welcome__list {
  width: 90%;
  text-align: left;
  word-spacing: 3px;
}

.welcome__list > * {
  margin: 0.6rem 0;
}

.welcome__btn {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 1.125rem;
}

.italic {
  font-style: italic;
}

.sml-font {
  font-size: 0.8rem;
}

.highlight {
  font-weight: 600;
}

.attribute-link {
  font-size: clamp(0.7rem, 0.3rem + 1vw, 0.75rem);
  font-weight: 200;
  text-decoration: none;
}

.header__title {
  color: #fff;
}

.ribbon__container-text {
  color: #3D1501;
}

.container {
  background: linear-gradient(160.97deg, #953900 12.82%, #C89B14 87.18%);
}

.cards-container {
  background: linear-gradient(90deg, #FFFE9E 0%, #FAB865 100%);
}

.cards {
  display: flex;
}
.cards-item {
  background-color: #602202;
}
.cards-item-text {
  color: #fff;
  background-color: #3D1501;
}

.total__cards {
  color: #3D1501;
}

.score {
  background: linear-gradient(90deg, #FFFE9E 0%, #FAB865 100%);
}

.score__header-text {
  color: #fff;
  background-color: #3D1501;
}

.user,
.computer,
.score-text {
  color: #3D1501;
}

.draw__btn {
  color: #fff;
  background-color: #409A21;
}

.fight__btn {
  color: #fff;
  background-color: #8E1321;
}

.message__box {
  background-color: #FECE71;
  border: 8px solid #E18E44;
}

.message__box-text {
  background-color: #3DCE71;
  color: #fff;
}

.user__content-text,
.bot__content-text,
.user__content-score,
.bot__content-score {
  color: #3D1501;
}

.ok__btn {
  background-color: #fff;
  color: #E18E44;
}

.user-bg {
  background-color: #3DCE71;
}

.bot-bg {
  background-color: #F24E4B;
}

.message__card-text {
  color: #fff;
}

.user-text {
  color: #3DCE71;
}

.bot-text {
  color: #F24E4B;
}

.welcome__card {
  background-color: #fff;
}

.welcome__text {
  color: #3D1501;
}

.welcome__title {
  color: #E18E44;
}

.welcome__btn {
  background-color: #E18E44;
  color: #fff;
}

.highlight {
  color: #602202;
}

.attribute-link {
  color: #fff;
}

body {
  background: linear-gradient(110.83deg, #629A3F 14.73%, #3E711F 55.42%);
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.header,
.main {
  width: 90%;
  max-width: 704px;
  margin: 0 auto;
}

.header {
  margin: 2.5em auto 0 auto;
}
.header__title {
  margin: 0.3em 0;
}

.ribbon__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ribbon__container__image {
  position: absolute;
}
.ribbon__container-text {
  position: absolute;
  top: 25%;
}

.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 546px;
  border-radius: 10px;
}

.section {
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
}

.cards-container {
  padding: 1em 0.7em 0.2em 0.7em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.cards {
  display: flex;
  justify-content: space-between;
}
.cards-item {
  width: 5.5em;
}
.cards-item-text {
  padding: 0.2em 0;
}

.cards-item {
  position: relative;
  height: 7.88em;
}

.cards-item-deck {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.cards-item-deck > * {
  position: absolute;
}

.card-image {
  width: 4.19em;
  margin: 0.4em 0.5em;
}

.total__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.4em 0 0.2em 0;
}
.total__cards-text {
  margin-left: -4em;
  margin-right: 0.8em;
}

.score {
  border-radius: 5px;
  overflow: hidden;
  max-width: 386.74px;
}
.score__header-text {
  padding: 0.5em 0;
}

.score__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0.3em 1.5em;
}

.score__container {
  display: flex;
}

.score-text {
  margin: 0 0.3em;
}

.user__avatar,
.computer__avatar {
  width: 3.94rem;
}

.buttons {
  margin: 1em auto 1.5em auto;
}

.buttons > * {
  flex: 1 1 9em;
}

.draw__btn,
.fight__btn {
  display: block;
  width: 100%;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 0.6em 0;
  margin: 0.3rem 0;
}

.attribute {
  z-index: 1;
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.message__box {
  position: absolute;
  top: 0;
  text-align: center;
  width: 90%;
  max-width: 32.25em;
  margin: 1em 0;
  border-radius: 10px;
}

.message__box-score {
  display: flex;
  justify-content: space-around;
}

.user__content-avatar,
.bot__content-avatar {
  width: 7.44rem;
}

.message__box-text {
  width: 70%;
  max-width: 348px;
  margin: 0.5rem auto;
  border-radius: 5px;
}

.ok__btn {
  border: none;
  border-radius: 5px;
  padding: 0 2.3em;
  margin: 0.8rem 0 0.5rem 0;
}

.message__card {
  position: absolute;
  top: -20px;
  width: 100%;
  max-width: 516.65px;
  height: 100%;
  max-height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message__card-bg {
  z-index: -3;
  position: absolute;
  top: 55px;
  width: 100%;
  height: 85%;
  justify-self: flex-end;
  max-height: 800px;
  border-radius: 5px;
  padding-top: 200px;
}

.message__card-wrapper {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message__card-image {
  filter: drop-shadow(10px 0px 4px rgba(0, 0, 0, 0.2));
  width: 100%;
  max-width: 350px;
}

.new__game {
  border: none;
  border-radius: 50px;
  padding: 0.5rem 4rem;
}

.message__card-user {
  visibility: hidden;
}

.message__card-bot {
  visibility: hidden;
}

.welcome__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  max-width: 546px;
  height: 100%;
  border-radius: 10px;
  padding: 1em;
  overflow: scroll;
  overflow-x: hidden;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
}

.welcome__btn {
  width: 90%;
  margin: 2rem 0 0.5rem 0;
  padding: 0.7rem 0;
  border-radius: 5px;
  border: none;
}

@media (min-width: 500px) {
  body {
    background-size: cover;
    height: 900px;
  }

  .header__title {
    margin: 0.3em 0;
  }

  .section {
    width: 92%;
  }

  .cards-container {
    margin-top: 1.2em;
    margin-bottom: 1em;
  }

  .cards {
    justify-content: space-around;
  }
  .cards-item {
    width: 8.81em;
    height: 13em;
  }
  .cards-item-text {
    padding: 0.3em 0;
  }

  .card-image {
    width: 6.87em;
    margin: 0.6em 0.5em 0.4em 0.5em;
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 386.74px;
  }

  .draw__btn,
.fight__btn {
    margin: 0.3em;
  }

  .user__content-avatar,
.bot__content-avatar {
    width: 12.44em;
  }

  .message__box-text {
    margin: 1rem auto;
  }

  .ok__btn {
    margin: 1rem 0 2rem 0;
  }
}
.first-card {
  display: none;
}

.second-card {
  display: none;
}

.third-card {
  display: none;
}

.backCard {
  display: block;
}

.message__box {
  visibility: hidden;
}

.container {
  visibility: hidden;
}

.flipInY, .flipInYCopy {
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

@keyframes flipInY {
  from {
    opacity: 0;
    -webkit-transform: perspective(400px) rotateY(90deg) scale3d(1.2, 1.2, 1.2);
    transform: perspective(400px) rotateY(90deg) scale3d(1.2, 1.2, 1.2);
  }
  50% {
    opacity: 1;
    -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transform: perspective(400px) rotateY(-20deg) scale3d(1, 1, 1);
    transform: perspective(400px) rotateY(-20deg) scale3d(1, 1, 1);
  }
  to {
    -webkit-transform: perspective(400px) rotateY(0deg) scale3d(1, 1, 1);
    transform: perspective(400px) rotateY(0deg) scale3d(1, 1, 1);
  }
}
.popIn {
  -webkit-animation-name: popIn;
  animation-name: popIn;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

@keyframes popIn {
  0% {
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    -webkit-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    -webkit-transform: scale3d(1.08, 1.08, 1.08);
    transform: scale3d(1.08, 1.08, 1.08);
  }
  60% {
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  80% {
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.driveInBottom {
  -webkit-animation-name: driveInBottom;
  animation-name: driveInBottom;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

@keyframes driveInBottom {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transform: translate3d(0, 300px, 0);
    transform: translate3d(0, 300px, 0);
  }
  30% {
    opacity: 1;
  }
  60% {
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.unfold {
  -webkit-animation-name: unfold;
  animation-name: unfold;
  -webkit-animation-duration: 850ms;
  animation-duration: 850ms;
}

@keyframes unfold {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
  }
  30% {
    opacity: 1;
    -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transform: scale3d(0.4, 0.4, 1);
    transform: scale3d(0.4, 0.4, 1);
  }
  60% {
    -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transform: scale3d(0.4, 1, 1);
    transform: scale3d(0.4, 1, 1);
  }
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.pulsate {
  -webkit-animation-name: pulsate;
  animation-name: pulsate;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

@keyframes pulsate {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
  }
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

/*# sourceMappingURL=main.css.map */
