@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat+Alternates:wght@300;500&family=Roboto+Slab:wght@200;700&display=swap');

body {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}

.header {
    text-align:center;

    &__title {
     font-family: 'Lobster', cursive;
     font-weight: 200;
     font-size: clamp(3.125rem, calc(1rem + 4vw), 5rem);
    }
}

.ribbon__container-text {
    font-size: clamp(1.125rem, calc(.2rem + 3vw), 2rem);
}

// ===================================================
// ===================================================

.cards-item-text {
    font-size: clamp(.69rem, calc(.5rem + 1vw), 1rem);
    text-align: center;
}

.total__cards {
    
    &-text {
        font-size: clamp(.63rem, calc(.3rem + 1vw), .75rem);
    }

    &-score {
        font-size: 1.31rem;
    }
}

// ===================================================
// ===================================================

.score {
    font-size: clamp(.625rem, calc(.3rem + 1vw), .75rem);
    text-align: center;
}

.user,
.computer {
    text-align: center;
}

.score-text {
    font-size: 2.37rem;
}

// ===================================================
// ===================================================

.draw__btn,
.fight__btn {
    font-family: 'Roboto Slab', serif;
    font-size: 1.125rem;
    font-weight: 700;
}

// ===================================================
// ===================================================

.message__box-text {
    font-size: clamp(1.75rem, calc(2rem + 1vw), 3.12rem);
}

.user__content-text,
.bot__content-text {
    font-size: clamp(.75rem, calc(.5rem + 5vw), 1rem);
}

.user__content-score,
.bot__content-score {
    font-size: clamp(2.19rem, calc(1rem + 5vw), 3.44rem);
    line-height:.8;
}

.ok__btn {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: clamp(1.56rem, calc(.8rem + 4vw), 2.19rem);
}

.message__card-text {
    font-size: clamp(3.125rem, calc(1rem + 1vw), 4.375rem);
}

.new__game {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: clamp(1.56rem, calc(.5rem + 1vw), 2.19rem);
}

// ===================================================
// ===================================================

.welcome__card {
    font-family: 'Montserrat Alternates', sans-serif;
}

.welcome__text {
    font-size: .9rem;
    font-weight: 400;
    text-align: center;
    text-align: justify;
}

.welcome__title {
    font-weight: 700;
    font-size: 1.3rem;
    margin: 2rem 0 .7rem 0;
}

.welcome__list {
    width: 90%;
    text-align: left;
    word-spacing: 3px;
}

.welcome__list > * {
    margin: .6rem 0;
}

.welcome__btn {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 1.125rem;
}

.italic {
    font-style: italic;
}

.sml-font {
    font-size: .8rem;
}

.highlight {
    font-weight: 600;
}

// ===================================================
// ===================================================

.attribute-link {
    font-size: clamp(.7rem, calc(.3rem + 1vw), .75rem);
    font-weight: 200;
    text-decoration: none;
}